/* Loader with anonymous */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(background.jpg) no-repeat 100% 100%;
    background-size: cover;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: visible;
    background: #fff url('https://cdn.dribbble.com/users/4608589/screenshots/11193964/media/56cd268e128a273d275e3c8ec4376947.gif') no-repeat center center;
}

h1 {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: poppins;
}

